
@{
    ViewBag.Title = "Home Page";
}

<main>

    <!--Largest Hawaiian Islands: picture and general info-->
    <div class="container-fluid">
        <div class="row locrow">
            <div class="col-md-6 col-sm-12">
                <section>
                    <h2>Hawaii:  Big Island</h2>
                    <h4>The Orchid Isle</h4>
                    <p>This is the largest island in the United States and is larger than all the other Hawaiian islands combined. Whether you want sandy beaches or snow-capped mountains, you can find it here. You can explore waterfalls, rainforests, botanical gardens and volcanoes. Some highlights are: Historic Kailua-Kona Town, Waipio Valley, Downtown Hilo, Ka Lae (South Point), and Hawaii Volcanoes National Park.</p>
                </section>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/dtpics-276-1980.jpg" class="img-thumbnail img-responsize" alt="Hawaiian surfer" />
            </div>
        </div>

        <div class="row locrow">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/M-02_Wailua_Falls_web-LG_large.jpg" class="img-thumbnail img-responsize moveright" alt="Hawaiian surfer" />
            </div>
            <div class="col-md-6 col-sm-12">
                <section>
                    <h2>Maui</h2>
                    <h4>The Valley Isle</h4>
                    <p>Maui is 727 square miles, making it the second largest island. Maui is most notable for its mountain ranges and valleys, and is often called the Valley Isle. It is the second most popular tourist destination in the state. While visiting Maui, make time to see the Kaanapali and Wailea resort areas and Haleakala, the largest dormant volcano crater in the world.</p>
                </section>
            </div>
        </div>

        <div class="row locrow">
            <div class="col-md-6 col-sm-12">
                <section class="moveup">
                    <h2>Oahu</h2>
                    <h4>The Gathering Place</h4>
                    <p>Oahu is by far the most popular destination among tourists, attracting nearly twice as many visitors as Maui each year. It is the third largest Hawaiian island, with 597 square miles. It is also the most populated, and home to the capital, Honolulu. Must-sees during your stay include Waikiki and Pearl Harbor.</p>
                </section>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/honolulu-waikiki_1600_630_95_s_c1_c_c_0_0.jpg" class="img-thumbnail img-responsize" alt="Hawaiian surfer" />
            </div>
        </div>

        <div class="row locrow">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/Kauai-41.jpg" class="img-thumbnail img-responsize" alt="Hawaiian surfer" />
            </div>
            <div class="col-md-6 col-sm-12">
                <section>
                    <h2>Kauai</h2>
                    <h4>The Garden Isle</h4>
                    <p>With 562 square miles, Kauai is the fourth largest of the Hawaiian islands, as well as the fourth most visited by tourists. Kauai's nickname is the "Garden Island" because of its tropical climate, waterfalls and lush vegetation. If you're planning a trip to Kauai, you'll want to visit Waimea Canyon, Hanalei Bay and Poipu Beach.</p>
                </section>
            </div>
        </div>
    </div>

</main>