@model IEnumerable<MVCReviewProject.Models.Review>

@{
    ViewBag.Title = "Reviews List";
}

<h2 class="heading">Full List of Reviews</h2>


    @foreach (var item in Model)
    {
        Url.Action("Detailslist", "Reviews", new { id = item.ID });
    }

@Html.ActionLink("Back to Reviews", "Index")